{% extends 'base.html' %}
{% load static %}
{% block container %}

    <!-- breadcrumb area start -->
    <div class="breadcrumb-area mb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shop grid left 4 column</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

   <!-- shop page main wrapper start -->
   <div class="main-wrapper pt-35">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-3">
                    <div class="shop-sidebar-inner mb-30">
                        <!-- filter-price-content start -->
                        <div class="single-sidebar mb-45">
                            <div class="sidebar-inner-title mb-25">
                                <h3>Fillter by price</h3>
                            </div>
                             <div class="sidebar-content-box"> 
                                 <div class="filter-price-content">
                                     <form action="#" method="post">
                                         <div id="price-slider" class="price-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 16.6667%; width: 79.1667%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 16.6667%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 95.8333%;"></span></div>
                                         <div class="filter-price-wapper">
                                             <div class="filter-price-cont">
                                                 <div class="input-type">
                                                     <input id="min-price" readonly="" type="text">
                                                 </div>
                                                 <div class="input-type">
                                                     <input id="max-price" readonly="" type="text">
                                                 </div>
                                             </div>
                                         </div>
                                     </form>  
                                 </div> 
                             </div>
                        </div>
                         <!-- filte price end -->
                         <!-- categories filter start -->
                         <div class="single-sidebar mb-45">
                             <div class="sidebar-inner-title mb-25">
                                 <h3>Categories</h3>
                             </div>
                             <div class="sidebar-content-box">
                                 <div class="filter-attribute-container">
                                     <ul>
                                        {% for category in categories %}
                                            <li><a href="{% url 'productcategory' slug=category.slug %}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                             </div>
                         </div>
                         <!-- categories filter end -->
                         <!-- categories filter start -->
                         <div class="single-sidebar mb-45">
                             <div class="sidebar-inner-title mb-25">
                                 <h3>Manufacturer</h3>
                             </div>
                             <div class="sidebar-content-box">
                                 <div class="filter-attribute-container">
                                     <ul>
                                         {% for i in manufacturer %}
                                         <li><a class="" href="{% url 'productManufacturer' slug=i.slug %}">{{ i.name }}</a></li>
                                         {% endfor %}
                                     </ul> 
                                 </div>
                             </div>
                         </div>
                         <!-- categories filter end -->
                         <!-- categories filter start -->
                         <div class="single-sidebar mb-45">
                             <div class="sidebar-inner-title mb-25">
                                 <h3>Select by color</h3>
                             </div>
                             <div class="sidebar-content-box">
                                {% for i in colors %}
                                 <div class="filter-attribute-container">
                                     <ul>
                                         <li><a class="" href="{% url 'productcolor' slug=i.slug %}"></a>{{i.name}}</li>
                                  
                                     </ul>
                                 </div>
                                 {% endfor %}

                             </div>
                         </div>
                    </div>
                     <!-- sidebar promote picture start -->
                    <div class="single-sidebar mb-30">
                        <div class="sidebar-thumb">
                            <a href="#"><img src="{% static 'img/banner/img-static-sidebar.jpg' %}" alt=""></a>
                        </div>
                    </div>
                     <!-- sidebar promote picture end -->
               </div>
               <div class="col-lg-9 order-first order-lg-last">
                    <div class="product-shop-main-wrapper mb-50">
                        <div class="shop-baner-img mb-70">
                            <a href="#"><img src="{% static 'img/banner/category-image.jpg' %}" alt=""></a>
                        </div>
                        <div class="shop-top-bar mb-30">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a href="#" data-target="column_3"><span>3-col</span></a>
                                        </div>
                                        <div class="product-page">
                                            <p>Showing 1 to 9 of 9 (1 Pages)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="top-bar-right">
                                        <div class="per-page">
                                            <p>Show : </p>
                                            <select class="nice-select" name="sortby">
                                                <option value="trending">10</option>
                                                <option value="sales">20</option>
                                                <option value="sales">30</option>
                                                <option value="rating">40</option>
                                                <option value="date">50</option>
                                                <option value="price-asc">60</option>
                                                <option value="price-asc">70</option>
                                                <option value="price-asc">100</option>
                                            </select>
                                        </div>
                                        <div class="product-short">
                                            <p>Sort By : </p>
                                            <select class="nice-select" name="sortby">
                                                <option value="trending">Relevance</option>
                                                <option value="sales">Name (A - Z)</option>
                                                <option value="sales">Name (Z - A)</option>
                                                <option value="rating">Price (Low &gt; High)</option>
                                                <option value="date">Rating (Lowest)</option>
                                                <option value="price-asc">Model (A - Z)</option>
                                                <option value="price-asc">Model (Z - A)</option>
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- end single grid item -->
                            {% for i in shops %}
                                <div class="sinrato-list-item mb-30">
                                    <div class="sinrato-thumb">
                                        <a href="{% url 'mehsullar' pk=i.pk   %}">
                                            <img src="{{ i.img.url }}" class="pri-img" alt="">
                                            <img src="{{ i.img.url }}" class="sec-img" alt="">
                                        </a>
                                        <div class="box-label">
                                            <div class="label-product label_new">
                                                <span>{{i.is_new}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sinrato-list-item-content">
                                        <div class="manufacture-product">
                                            <span><a href="#"></a></span>
                                        </div>
                                        <div class="sinrato-product-name">
                                            <h4><a href="{% url 'mehsullar' pk=i.pk   %}">{{i.title}}</a></h4>
                                        </div>
                                        <div class="sinrato-ratings mb-15">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                        </div>
                                        <div class="sinrato-product-des">
                                            <p>{{i.description}}</p>
                                        </div>
                                    </div>
                                    <div class="sinrato-box-action">
                                        <div class="price-box">
                                            <span class="regular-price"><span class="special-price">{{i.the_price}}</span></span>
                                            <span class="old-price"><del>{{i.sale}}</del></span>
                                        </div>
                                        <button class="btn-cart" type="button">add to cart</button>
                                        <div class="action-links sinrat-list-icon">
                                            <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                            <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                            <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- end single list item -->
                        </div>                  
                    </div>
               </div>
           </div>
       </div>
   </div>
   <!-- shop page main wrapper end -->

   <!-- scroll to top -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->


{% endblock %} 












































































































































































































