{% extends 'base.html' %}
{% load static %}
{% block container %}



<!-- contact form two -->
<div class="contact-two-area pt-60 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="contact2-title text-center mb-60">
                    <h2>tell us your project</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-message">
                    <form method="post" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{ form.name }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{ form.Phone }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{ form.Email }}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                {{ form.Subject }}
                            </div>
                            <div class="col-12">
                                <div class="contact2-textarea text-center">
                                    {{ form.Message }}
                                </div>
                                <div class="contact-btn text-center">
                                    <button class="btn btn-secondary" type="submit">Send Message</button>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- scroll to top -->
<div class="scroll-top not-visible">
    <i class="fa fa-angle-up"></i>
</div> <!-- /End Scroll to Top -->



{% endblock %}