
{% extends 'base.html' %}
{% load static %}
{% block container %}

    <!-- slider area start -->
    <div class="slider-area">
        <div class="hero-slider-active slick-dot-style slider-arrow-style">
            <div class="single-slider d-flex align-items-center" style="background-image: url({% static  'img/slider/slider1-home1.jpg' %});">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-8">
                            <div class="slider-text">
                                <h1>New Range Of<br>samsung Camera</h1> 
                                <p>samsung EOS600D/Kiss X5</p>
                                <a class="btn-1 home-btn" href="#">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider d-flex align-items-center" style="background-image: url({% static 'img/slider/slider2-home1.jpg' %});">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-8">
                            <div class="slider-text">
                                <h1>Game, Consoles &amp;<br>much more</h1>
                                <p>Sega Saturn Disc Drive Replacement</p>
                                <a class="btn-1 home-btn" href="#">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider area end -->


    
    <!-- feature area start -->
    <div class="feature-style-one pt-70 pb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-inner fix">
                        <div class="col">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="{% static  'img/icon/wrapper1.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4>free shipping</h4>
                                    <p>free shipping on all us order</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="{% static  'img/icon/wrapper2.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4>Support 24/7</h4>
                                    <p>Contact us 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="{% static  'img/icon/wrapper3.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4>100% Money Back</h4>
                                    <p>You have 30 days to Return</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="{% static  'img/icon/wrapper4.png' %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4>90 Days Return</h4>
                                    <p>If goods have problems</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="{% static  'img/icon/wrapper5.png'  %}" alt="">
                                </div>
                                <div class="feature-content">
                                    <h4>Payment Secure</h4>
                                    <p>We ensure secure payment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feature area end -->

    <!-- product wrapper area start -->
    <div class="product-wrapper fix pb-70">
        <div class="container-fluid">
            <div class="section-title product-spacing hm-11">
                <h3><span>our</span> product</h3>
                <div class="boxx-tab">
                    <ul class="nav my-tab" role="tablist">
                        <li role="presentation">
                            <button class="active" type="button" id="one-tab" data-bs-toggle="tab" data-bs-target="#one" role="tab" aria-controls="one" aria-selected="true">Camera, Photo & Video</button>
                        </li>
                        <li role="presentation">
                            <button data-bs-toggle="tab" type="button" id="two-tab" data-bs-toggle="tab" data-bs-target="#two" role="tab" aria-controls="two" aria-selected="false">Audio & Home Theater</button>
                        </li>
                        <li role="presentation">
                            <button data-bs-toggle="tab" type="button" id="three-tab" data-bs-toggle="tab" data-bs-target="#three" role="tab" aria-controls="three" aria-selected="false">Cellphones & Accessories</button>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="tab-content">
                <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                    <div class="product-gallary-wrapper">
                        <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">

                        {%  for i in products  %}

                            <div class="product-item">
                                <div class="product-thumb">
                          
                                    <a href="{% url 'mehsullar' pk=i.pk   %}">
                                     
                                        <img src="{{ i.img.url }}" class="pri-img" alt="">
                                        <img src="{{ i.img2.url }}" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                                <span>new</span>
                                            </div>
                                        <div class="label-product label_sale">
                                            <span>-10%</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                             

                                </div>
                               
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="{% url 'crops' %}">{{ i.title }}</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="{% url 'index'  %}"></a>{{ i.description}}</h4>
                                    </div>
                                    <div class="ratings">
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price"><span class="special-price">{{ i.title2 }}</span></span>
                                        <span class="old-price"><del>{{ i.title3 }}</del></span>
                                    </div>
                                    
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div> 
                        </div>   
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product wrapper area start -->

    <!-- home banner static s area -->
    <div class="banner-static s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-banner-static s">
                        <a href="{% url 'crops' %}"><img src="{% static 'img/banner/img1-top-sinrato1.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-banner-static s">
                        <a href="{% url 'crops' %}"><img src="{% static 'img/banner/img2-top-sinrato1.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-banner-static s">
                        <a href="{% url 'crops' %}"><img src="{% static 'img/banner/img3-top-sinrato1.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home banner static s end -->

    <!-- featured categories area start -->
    <div class="featured-categories-area">
        <div class="container-fluid">
            <div class="section-title hm-12">
                <h3><span>Featured</span> product</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="featured-cat-active owl-carousel owl-arrow-style">
                      
                           {% for i in featured_Product %}
                           
                        <div class="pro-layout-two-single-item">
                            <div class="product-layout-two mb-30">
                                <div class="product-layout-info">
                                    <h4 class="pro-name"><a href="shop-grid-left-sidebar.html"></a>{{ i.title }}</h4>
                                    <p class="total-items">  </p>
                                    <a href="{% url 'crops' %}" class="shop-btn">{{ i.product_count }} mehsul</a>
                                </div>
                                <div class="product-layout-thumb">
                                    <a href="{% url 'crops' %}"><img src="{{ i.img.url }}" alt="" width="200px"></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div> <!-- </ end single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured categories area end -->

    <!-- home product module three start -->
    <div class="home-module-three hm-1 fix pb-40">
        <div class="container-fluid">
            <div class="section-title module-three">
                <h3><span>Hot</span> Collection</h3>
                <div class="boxx-tab">
                    <ul class="nav my-tab" role="tablist">
                        <li role="presentation">
                            <button class="active" type="button" id="module-one-tab" data-bs-toggle="tab" data-bs-target="#module-one" role="tab" aria-controls="module-one" aria-selected="true">Featured Products</button>
                        </li>
                        <li role="presentation">
                            <button data-bs-toggle="tab" type="button" id="module-two-tab" data-bs-toggle="tab" data-bs-target="#module-two" role="tab" aria-controls="module-two" aria-selected="false">On sale Products</button>
                        </li>
                        <li role="presentation">
                            <button data-bs-toggle="tab" type="button" id="module-three-tab" data-bs-toggle="tab" data-bs-target="#module-three" role="tab" aria-controls="module-three" aria-selected="false">Best sellers Products</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="module-one" role="tabpanel" aria-labelledby="module-one-tab">
                    <div class="module-four-wrapper custom-seven-column row">
                        <div class="col col-2 mb-30">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="shop-grid-left-sidebar.html">
                                        <img src="{% static 'img/product/img-module1.jpg' %}" alt="" class="w-100">
                                    </a>
                                </div>
                            </div>
                        </div> <!-- single item end -->   
                        
                        {%  for i in products  %}
                        <div class="col mb-30">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="{% url 'mehsullar' pk=i.pk   %}">
                                        <img src="{{ i.img.url }}" class="pri-img" alt="">
                                        <img src="{{ i.img2.url }}" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_sale">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="shop-grid-left-sidebar.html">{{ i.title }}</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="product-details.html">{{ i.description}}</a></h4>
                                    </div>
                                    <div class="ratings">
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">{{ i.title2 }}</span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                        </div> <!-- single item end -->
                        {% endfor %}
                        
                    
                      
                       
                            
                  
                      
                    </div>
                </div>
                <div class="tab-pane" id="module-two" role="tabpanel" aria-labelledby="module-two-tab">
                    <div class="module-four-wrapper custom-seven-column row">
                   
                                     
                        <div class="col mb-30">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="{% static 'img/product/product-6.jpg' %}" class="pri-img" alt="">
                                        <img src="{% static 'img/product/product-7.jpg' %}" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                            <span>new</span>
                                        </div>
                                        <div class="label-product label_sale">
                                            <span>-20%</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="product-details.html">jony XB10  Wireless color printer</a></h4>
                                    </div>
                                    <div class="ratings">
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price"><span class="special-price">£50.00</span></span>
                                        <span class="old-price"><del>£60.00</del></span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                     
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="{% static 'img/product/product-9.jpg' %}" class="pri-img" alt="">
                                        <img src="{% static 'img/product/product-12.jp' %}g" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="product-details.html">Amazon Cloud Cam  Security Camera</a></h4>
                                    </div>
                                    <div class="ratings">
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">£00.00</span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                        </div> <!-- single item end -->
                        <div class="col mb-30">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="{% static 'img/product/product-8.jpg' %}" class="pri-img" alt="">
                                        <img src="{% static 'img/product/product-9.jpg' %}" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                            <span>new</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="shop-grid-left-sidebar.html">apple</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="product-details.html">walton smart watch with blutooth</a></h4>
                                    </div>
                                    <div class="ratings">
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">£99.99</span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                    
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="product-details.html">
                                        <img src="{% static  'img/product/product-5.jpg' %}"  class="pri-img" alt="">
                                        <img src="{% static  'img/product/product-6.jpg' %}" class="sec-img" alt="">
                                    </a>
                                    <div class="box-label">
                                        <div class="label-product label_new">
                                            <span>new</span>
                                        </div>
                                        <div class="label-product label_sale">
                                            <span>-12%</span>
                                        </div>
                                    </div>
                                    <div class="action-links">
                                        <a href="#" title="Wishlist"><i class="lnr lnr-heart"></i></a>
                                        <a href="#" title="Compare"><i class="lnr lnr-sync"></i></a>
                                        <a href="#" title="Quick view" data-bs-target="#quickk_view" data-bs-toggle="modal"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                </div>
                                <div class="product-caption">
                                    <div class="manufacture-product">
                                        <p><a href="shop-grid-left-sidebar.html">walton</a></p>
                                    </div>
                                    <div class="product-name">
                                        <h4><a href="product-details.html">jony XB10  Wireless Speaker</a></h4>
                                    </div>
                                    <div class="ratings">
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span class="yellow"><i class="lnr lnr-star"></i></span>
                                        <span><i class="lnr lnr-star"></i></span>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price"><span class="special-price">£50.00</span></span>
                                        <span class="old-price"><del>£60.00</del></span>
                                    </div>
                                    <button class="btn-cart" type="button">add to cart</button>
                                </div>
                            </div>
                       
                           
                       
                       
                       
                       
                                
                    </div>
                </div>
                <div class="tab-pane" id="module-three" role="tabpanel" aria-labelledby="module-three-tab">
                    <div class="module-four-wrapper custom-seven-column row">
                        <div class="col col-2 mb-30">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <a href="shop-grid-left-sidebar.html">
                                        <img src="{% static 'img/product/img-module1.jpg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div> <!-- single item end -->  
                                           
                     
                      
                       
                               
                       
                      
                       
                            ]
                          
                           
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home product module three end -->

    <!-- home banner static s area -->
    
    <!-- home banner static s end -->

    <!-- home product module four start -->
   
    <!-- home product module four end -->

    <!-- home product module five start -->
  
    <!-- home product module five end -->

    <!-- home product module six start -->
  
    <!-- home product module five end -->

    <!-- home banner static s area -->
    <div class="banner-static s">
        <div class="container-fluid">
            <div class="single-banner-static s">
                <a href="shop-grid-left-sidebar.html"><img src="{% static 'img/banner/img-bottom-sinrato1.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <!-- home banner static s area end -->

   
    <!-- brand sale area end -->

    <!-- scroll to top -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div> <!-- /End Scroll to Top -->

 {% endblock %}

 